.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 240px;
    gap: 3rem;
    background: var(--color-sidebar-bg);
    border-radius: 10px;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-left: 20px;
}
.accountMenu{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.5rem;
    padding-left: 20px;
    padding-bottom: 20px;
    height: 100%;
}


.menu a,
.accountMenu a{
    font-size: 22px;
    text-decoration: none;
    color: #94a3b8; ;
    display: flex;
    align-items: center;
    gap: 8px;
}

.menuItems{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.menu a:hover,
.accountMenu a:hover{
    color: #93c5fd;
}

.menu a:active,
.accountMenu a:active{
    color: #3b82f6;
}

.logo{
    padding-left: 20px;
    padding-top: 20px;
}

.sectionName{
    font-size: 10px;
    font-weight: bold;
    color: #475569;
}

.logoIcon{
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    color: white;
}


.logo img{
    width: 30px;
    height: 30px;
}

.activeLink span {
    color: #3b82f6;
    font-weight: 500;
}
