.rightContainer{
    width: 100%;
    gap: 1rem;

    display: flex;
    flex-direction: column;
}

.dashboardContent{
    flex: 1;
    background-color: #f7f7f7;
    border-radius: 10px;
    overflow-y: auto;
    border: 1px solid #e2e8f0;
}

.dashboard{
    min-height:100vh;
    max-height: 100vh;
    display:flex;
    overflow: hidden;
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    gap: 15px;
}


.footer{
    padding: 20px;
    background-color: grey;
}

.divider{
    height: 5px;
    background-color: black;
    border: none;
    width: 100%;
}

.navContainer{
    width:100%;
    overflow: hidden;
}
