.card{
    width: 230px;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    margin: 3px;

    background-color: #2f2f30;
}
.count{
    font-size: 45px;
    color: white;
}
.label{
    font-size: 15px;
    color: #ababab;
}
.badgeContainer{
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 15px;
}

